@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-color: #39aebc;
  --save-btn-color: #41b494;
  --destructive: 0 84.2% 60.2%;
}

.bg-nav-color {
  background-color: var(--nav-color);
}
.bg-savebtn-color {
  background-color: var(--save-btn-color);
}

html,
body {
  height: 100%;
}

body {
  overflow-y: auto;
}

body {
  min-height: 100vh;
}
